wfs/DescribeFeatureType/%3FSERVICE=WFS&REQUEST=DescribeFeatureType&VERSION=1.1.0&typeName=Point_collection/index.xml

<schema xmlns:myns="http://www.someserver.example.com/myns" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.someserver.example.com/myns" elementFormDefault="qualified" version="2.0.2"><import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/><complexType name="docs/Harbour_collection/index.geojson"><complexContent><extension base="gml:AbstractFeatureType"><sequence><element name="http://www.w3.org/2000/01/rdf-schema#label" minOccurs="0"/><element name="http://purl.org/dc/elements/1.1/created" minOccurs="0"/><element name="http://www.spp-haefen.de/ont#locationSecure" minOccurs="0"/><element name="http://www.w3.org/2004/02/skos/core#note" minOccurs="0"/><element name="begin" minOccurs="0"/><element name="end" minOccurs="0"/><element name="http://www.wikidata.org/prop/direct/P206" minOccurs="0"/><element name="http://rdfs.org/ns/void#inDataset.value" minOccurs="0"/></sequence></extension></complexContent></complexType></schema><complexType name="docs/Point_collection/index.geojson"><complexContent><extension base="gml:AbstractFeatureType"><sequence><element name="http://www.w3.org/2000/01/rdf-schema#label" minOccurs="0"/><element name="http://rdfs.org/ns/void#inDataset.value" minOccurs="0"/></sequence></extension></complexContent></complexType></schema>